# Ignore the .idea folder (PyCharm, IntelliJ)
.idea/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

